@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* 
    RESPONSIVE
*/

@media screen and (max-width: 1100px){
    
}

@media screen and (max-width: 700px){
    
}

@media screen and (max-width: 600px){
    
    /* HEADER */

    .header-banner{
        width: 3.125rem;
    }

    .header-column > div .mobile-hidden{
        display: none;
    }

    /* MAIN */

    .main-top-banner{
        left: 3.125rem;
    }
    .main-container{
        margin-left: 3.125rem;
    }
}


/* 
    DEBUG
 */



 .debug main{
    height: calc(100vh - 6.25rem);
 }

