@import "layout.css";
@import "style.css";

/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* 
    RESPONSIVE
*/

@media screen and (max-width: 1100px){
    
    .main-row{
        flex-wrap: wrap;
    }

    .main-col{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px){
    
    /* MAIN */

    .main-col{
        width: calc((100% / 2) - 2rem);
    }

    /* FOOTER */

    .footer-controls{
        padding: 0 0.5rem;
    }

    .footer-controls img{
        height: 25px;
        width: 25px;
    }

    .now-playing h5{
        font-size: 0.5rem;
    }

    .now-playing div:nth-child(2){
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .now-playing div i{
        font-size: 0.8rem;
    }
    
    .footer-col:last-of-type .footer-flex{
        flex-wrap: wrap;
    }
    
    .footer-col:last-of-type button{
        margin-right: 0.3rem;
        font-size: 0.7rem;
    }

    .footer-col:last-of-type .playbar {
        max-width: 5rem;
        padding-right: 1rem;
        margin-left: -1rem;
    }
}

@media screen and (max-width: 600px){
    
    /* HEADER */

    .header-banner{
        width: 3.125rem;
    }

    .header-column > div .mobile-hidden{
        display: none;
    }

    /* MAIN */

    .main-top-banner{
        width: calc(100% - 3.125rem);
        left: 3.125rem;
    }
    .main-container{
        margin-left: 3.125rem;
        width: calc(100% - 3.125rem);
    }
}
