body *{
    color: white;
}

/* 
    GENERAL
*/
.button{

}

.naked-button{

}

.playbar{

}

/* 
    HEADER
*/

#logo-small{
    display: none;
}

.header-column > div > *{
    display: block;
}

/* 
    MAIN
*/

.main-top-banner{
    text-align: right;
}

.main-nav li{
    display: inline-block;
}
/* 
    FOOTER
*/

.footer-banner{
    background-color: #282828;
}