body *{
    color: white;
}

/* 
    GENERAL
*/

.naked-button{

}


/* 
    HEADER
*/

#logo-small{
    display: none;
}

.header-banner{
    background-color: black;
}

.header-column > div > *{
    display: block;
}

/* 
    FOOTER
*/

.footer-banner{
    background-color: #282828;
}